body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

h1 {
    font-family: Cairo;
    color: rgb(228, 81, 8);
}

@font-face {
    font-family: "Cairo";
    src: url("Flamante-Cairo-Book.ttf");
}

dt {
    color: rgb(228, 81, 8);
}

img {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 490px;
    top: 180px;
}

div {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 15px;
}